<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team5.remind_server.board.mapper.BoardMapper">
    <sql id="boardColumns">
          noteId
        , boardId
        , noteWriter
        , noteWritedDate
        , noteWritedTime
        , noteContent
        , noteImage
        , noteViews
        , notePrefer
        , noteIsExpert
        , noteTitle
        , noteUpdatedDate
        , noteUpdatedTime
    </sql>

    <insert id="insertBoard" parameterType="com.team5.remind_server.board.domain.BoardDTO">
            INSERT INTO notes(
                             boardId, noteWriter, noteWritedDate, noteWritedTime, noteContent, noteImage, noteViews, notePrefer, noteIsExpert, noteTitle, noteUpdatedDate, noteUpdatedTime
            ) VALUES (
                      #{boardId}
                      , #{noteWriter}
                      , CURRENT_DATE
                      , CURRENT_TIME
                      , #{noteContent}
                      , #{noteImage}
                      , 0
                      , 0
                      , 0
                      , #{noteTitle}
                      , NULL
                      , NULL
        )
    </insert>

    <select id="selectBoardDetail" parameterType="int" resultType="com.team5.remind_server.board.domain.BoardDTO">
        SELECT
                <include refid="boardColumns" />
        FROM
                notes
        WHERE
                noteId = #{idx}
    </select>

    <select id="selectBoardList" resultType="com.team5.remind_server.board.domain.BoardDTO">
        SELECT
            <include refid="boardColumns" />
        FROM
            notes
    </select>

    <select id="selectBoardTotalCount" parameterType="com.team5.remind_server.board.domain.BoardDTO" resultType="int">
        SELECT
            COUNT(*)
        FROM
            notes
    </select>

    <update id="updateBoard" parameterType="com.team5.remind_server.board.domain.BoardDTO">
        UPDATE notes
        SET
            noteUpdatedDate = CURRENT_DATE
        ,   noteUpdatedTime = CURRENT_TIME
        ,   noteTitle = #{noteTitle}
        ,   noteContent = #{noteContent}
        ,   noteImage = #{noteImage}
        WHERE
            noteId = #{noteId}
    </update>

    <update id="increasingViews" parameterType="int">
        UPDATE notes
        SET
            noteViews = noteViews + 1
        WHERE
              noteId = #{idx}
    </update>

    <update id="recommend" parameterType="int">
        UPDATE notes
        SET
            notePrefer = notePrefer + 1
        WHERE
            noteId = #{idx}
    </update>
    <delete id="deleteBoard" parameterType="int">
        DELETE
        FROM notes
        WHERE noteId = #{idx}
    </delete>
</mapper>
